@charset "UTF-8";
body,
html {
  position: relative;
  height: 100%; }

/*Navigation*/
.navbar {
  padding: 1% 0 1% 9%;
  background-color: #fff; }

.navbar-brand img {
  max-width: 80%; }

/* Headings */
.display-4, .titre-page {
  color: #fff;
  background-color: #EB7723;
  text-align: center;
  padding: 2% 0;
  text-transform: uppercase;
  font-size: 2em; }

.titre-page {
  font-weight: normal; }

/*Jumbotron de la page d'accueil */
.jumbotron {
  background-image: url("../images/accueil/accueil_bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  background-color: #fff; }

.jumbotron .container {
  padding-top: 25%;
  padding-bottom: 25%; }

.jumbotron h1 {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3%;
  font-size: 3em; }

.btn-primary {
  background-color: #EB7723;
  border-color: #EB7723;
  border-radius: 1px;
  text-transform: uppercase; }

.btn-primary:hover {
  background-color: #668030;
  border-color: #668030; }

.contenu-a-propos .lead {
  margin-top: 2%; }

/*Styles de la page réalisations */
.projet {
  margin: 1% 0; }

/*Styles du footer */
footer {
  margin-top: 2%;
  background-color: #000;
  color: #fff;
  padding: 3%;
  text-align: center; }
